<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.0.0" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net452" />
  <package id="Elasticsearch.Net" version="5.4.0" targetFramework="net47" />
  <package id="jQuery" version="1.6.4" targetFramework="net452" />
  <package id="LibLog" version="4.2.6" targetFramework="net47" developmentDependency="true" />
  <package id="MediatR" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Cors" version="5.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR" version="2.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.SelfHost" version="2.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.0" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.0" targetFramework="net47" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Cors" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Diagnostics" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.FileSystems" version="3.1.0" targetFramework="net47" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.SelfHost" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.StaticFiles" version="3.1.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="Quartz" version="2.3.3" targetFramework="net452" />
  <package id="Serilog" version="2.5.0" targetFramework="net47" />
  <package id="Serilog.Enrichers.Environment" version="2.1.2" targetFramework="net452" />
  <package id="Serilog.Enrichers.Process" version="2.0.1" targetFramework="net452" />
  <package id="Serilog.Enrichers.Thread" version="3.0.0" targetFramework="net452" />
  <package id="Serilog.Sinks.ColoredConsole" version="2.0.0" targetFramework="net452" />
  <package id="Serilog.Sinks.Elasticsearch" version="5.3.0" targetFramework="net47" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net452" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.0" targetFramework="net47" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.1-dev-00767" targetFramework="net452" />
  <package id="StructureMap" version="4.5.1" targetFramework="net47" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net452" />
  <package id="Topshelf" version="4.0.3" targetFramework="net452" />
  <package id="Topshelf.Owin" version="1.3.29.0" targetFramework="net452" />
  <package id="Topshelf.Quartz.StructureMap" version="0.6.0.0" targetFramework="net452" />
  <package id="Topshelf.Serilog" version="4.0.3" targetFramework="net452" />
  <package id="Topshelf.StructureMap" version="0.4.0.0" targetFramework="net452" />
  <package id="WebApi.StructureMap" version="1.0.21" targetFramework="net47" />
</packages>